__pycache__
.DS_Store
itol_tree
top_hits
temp*
.ipynb*
WP_*
new_accessions.txt
appended*
Add_species_to_orthofinder_analysis.ipynb
test*
temp*
LP_grant_Jan2023
jw_utils
itol_tree
AstR_tree_fig
data/Proteomes
data/ncbi_dataset/data/GC*/protein.faa
data/ncbi_dataset/data/GC*/GC*
#*
N0_HOG_counts.tsv
Species_tree_with_bars.ipynb
data